:root {
    --color-blue: #2196F3;
    --dark-blue: #2F303A;
    --white: #fff;
    --black: #212121;
    --light-silver: #F5F4FA;
    --silver-gray: #757575;
    --button-hover: #188CE8;
    --contact-gray: #757575;
    --black-for-logo: #000;
    --silver-footer: #FFFFFF99;
    --silver-icon: #AFB1B8;
    --border: #eee;

    --dominant-font: 'Roboto', sans-serif;

    --tran-dur: 250ms;
    --tran-t-fun: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin-right: 0;
    margin-left: 0;
    background-color: var(--white);
    font-family: var(--dominant-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a,
button {
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

address {
    font-style: normal;
}

div.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

section.section {
    padding-top: 94px;
    padding-bottom: 94px;
}



                                                        /* header and footer */
div.footer-twitter {
    margin-left: 70px;
    margin-top: 12px;
}

header.header {
    border-bottom: 1px solid var(--border);
    padding: 12px 0;
}

ul.navigation {
    display: flex;
}

ul.contact {
    display: flex;
    margin-left: auto;
}

li.navigation-item {
    margin: 0 25px;
}

li.navigation-item:last-child {
    margin-right: 0;
}

li.navigation-item:first-child {
    margin-left: 0;
}

li.navigation-item a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    padding: 25px 0;
    color: var(--black);
    text-decoration: none;

    transition-property: color;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

li.navigation-item a.studia::after {
    /*index border bottom current page */
    position: relative;
    top: 29px;
    display: block;
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;

    background-color: var(--color-blue);
}

li.navigation-item a.portfolio::after {
    /*portfolio border bottom current page */
    position: relative;
    top: 29px;
    display: block;
    content: "";
    width: 78px;
    height: 4px;
    border-radius: 2px;

    background-color: var(--color-blue);
}

li.navigation-item a:hover,
li.contact-item a:hover,
li.contact-item a:hover svg {
    text-decoration: none;
    color: var(--color-blue);
    fill: var(--color-blue);
}

li.contact-item a {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--contact-gray);
    padding: 20px 0;
    text-indent: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    transition-property: color;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

li.contact-item {
    display: flex;
    align-items: center;
    margin: 0px 25px;
}

li.contact-item:last-child {
    margin-right: 0;
}

li.contact-item:first-child {
    margin-left: 0;
}

footer.footer {
    background-color: var(--dark-blue);
    padding: 60px 0 56px;
}

li.address-contact-item a {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--silver-footer);
    display: block;

    transition-property: color;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);

}

li.address-contact-item {
    margin-bottom: 9px;
}

li.address-contact-item:nth-child(1) a {
    color: var(--white);
}

li.address-contact-item:last-child {
    margin-bottom: 0;
}

li.address-contact-item:hover a {
    color: var(--color-blue);
}

a.main-logo {
    display: flex;
    align-items: center;
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--black-for-logo);
}

a.main-logo span {
    color: var(--color-blue);
}

a.bottom-logo {
    color: var(--white);
    margin-bottom: 20px;
}

nav.nav-studio {
    display: flex;
    align-items: center;
}

div.footer-container-kiev {
    display: flex;
    justify-content: space-between;
}

li.contact-item a:focus svg {
    color: var(--color-blue);
    fill: var(--color-blue);
    outline: none;
}
 a.icon-link:focus {
     background: var(--color-blue);
     fill: var(--white);
     outline: none;
 }
svg.contact-icon-let {
    display: inline-block;
    margin-right: 10px;
    fill: var(--silver-gray);
}
  address li.address-contact-item a:focus {
      color: var(--color-blue);
      outline: none;
  }

  .footer-twitter-mail-form {
      display: inline-flex;
      position: relative;
  }

a.icon-link svg.icon {
    border-radius: 50px;
    width: 44px;
    height: 44px;
    fill: var(--silver-icon);

    transition-property: background-color, fill;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

a.icon-link {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    margin-right: 10px;
}

ul.facebook-block li:last-child a.icon-link {
    margin-right: 0;
}

a.icon-link:hover svg {
    width: 44px;
    height: 44px;
    border-radius: 50px;

    fill: var(--white);
    background-color: var(--color-blue);
}

div.footer-twitter h4 {
    color: var(--white);
    font-family: var(--dominant-font);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

div.footer-twitter svg.icon {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white);
}

div.footer-twitter a.icon-link:hover svg {
    width: 44px;
    height: 44px;
    border-radius: 50px;

    fill: var(--white);
    background-color: var(--color-blue);
}

a:focus,
li.navigation-item a:focus,
li.contact-item a:focus,
li.contact-item a:focus svg {
    color: var(--color-blue);
    fill: var(--color-blue);
    outline: none;

}

a.icon-link:focus {
    background: var(--color-blue);
    fill: var(--white);
    outline: none;
}

a.icon-link:focus svg {
    fill: var(--white);
    outline: none;
}

address li.address-contact-item a:focus {
    color: var(--color-blue);
}
input.footer-twitter-mail-form-background {
    margin-top: 20px;
    display: block;
    padding: 2px 15px;
    height: 50px;
    width: 358px;
    border-radius: 4px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: rgba(255, 255, 255, 0.3);
}

svg.icon-send-footer-button {
    /* border: 1px solid red; */
    position: absolute;
    top: 34px;
    right: 27px;
    width: 24px;
    height: 24px;
}
a.regular-customers-link:focus {
    border: 1px solid var(--color-blue);
    outline: none;
}


                                                            /* main page */
                                                            /* main page */
                                                            /* main page */


h1.main-title {
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.06em;

    color: var(--white);
}

section.main-section {
    max-width: 1600px;
    padding: 198px 0;
    margin-left: auto;
    margin-right: auto;

    background-image:
        linear-gradient(to bottom, 
        rgba(58, 50, 47, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url("../images/img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
form button[type="submit"],
div.footer-twitter-mail-form button[type="submit"],
div.container-effective-solutions button[type="button"] {
                                                                                /*big buttons*/
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 10px 0px;
    display: block;
    border-radius: 4px;
    margin-top: 30px;
    width: 200px;

    background-color: var(--color-blue);
    color: var(--white);

    box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    transition-property: background-color, box-shadow;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

div.container-effective-solutions button[type="button"]:hover,
div.container-effective-solutions button[type="button"]:focus,
form button[type="submit"]:hover,
form button[type="submit"]:focus,
div.footer-twitter-mail-form button[type="submit"]:hover,
div.footer-twitter-mail-form button[type="submit"]:focus {
    background-color: var(--button-hover);
    box-shadow: 0 0 1px 1px var(--button-hover);
    outline: none;
}

ul.attention-to-details {
    display: flex;
    justify-content: space-between;
}

h3.attention-to-details-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 10px;
}

ul.attention-to-details p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--silver-gray);
    width: 270px;
}

ul.what-we-do {
    display: flex;
}

ul.our-people {
    display: flex;
}

h2.what-we-do-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--black);
    margin-bottom: 50px;
}

ul.what-we-do img[width="370"] {
    margin-right: 30px;
    display: block;
}

ul.what-we-do li:last-child img[width="370"] {
    margin-right: 0;
}

ul.what-we-do li {}

ul.what-we-do div.what-we-do-block::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.what-we-do-block {
    position: relative;
    /* border: 1px dashed red; */
}

ul.what-we-do div.what-we-do-desktop {
    position: absolute;
    bottom: 24px;
    left: 5%;
    /* transform: translate(-50%); */
    z-index: 10;
    width: 329px;
   
}

div.what-we-do-desktop p {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    color: var(--white);
}

section.our-people-section-for-background {
    background-color: var(--light-silver);

}

li.our-people-item:not(:last-child) {
    margin-right: 30px;
}

li.our-people-item h3.our-people-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--black);
}

li.our-people-item p.our-people-profession {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--silver-gray);
    margin-top: 10px;
}

div.our-people-block {
    padding-top: 27px;
    padding-bottom: 26px;
}

li.our-people-item {
    background-color: var(--white);
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

section.what-we-do-section-for-background {
    padding-top: 0;
}

div.container-effective-solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li.our-people-item img[src*="./images/pe"] {
    display: block;
}

ul.regular-customers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

a.regular-customers-link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--silver-icon);
    align-items: center;

    transition-property: background-color;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

a.regular-customers-link:hover svg {
    fill: var(--color-blue);
}

a.regular-customers-link:focus svg {
    /*focus*/
    fill: var(--color-blue);
    outline: none;
}

a.regular-customers-link:hover {
    border: 1px solid var(--color-blue);
}

a.regular-customers-link svg {
    fill: var(--silver-icon);
    width: 106px;
    height: 60px;

    transition-property: border, fill;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

li.attention-to-details-items img[src*="./images/ko"] {
    margin-bottom: 30px;
}

ul.facebook-block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

svg.attention-ant {
    width: 70px;
    height: 70px;
}

div.attention-to-block {
    width: 270px;
    height: 120px;
    background-color: var(--light-silver);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
}


                                                            /* portfolio */
                                                            /* portfolio */
                                                            /* portfolio */




ul.main-block-big-foto {
    width: 1170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li.main-block-big-foto-items {
    position: relative;
    border: 1px solid var(--border);
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    list-style: none;

    transition-property: box-shadow;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

li.main-block-big-foto-items:hover {
    box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

div.header-container-web-studio {
    display: flex;
}

li.main-block-big-foto-items:nth-child(3n) {
    margin-right: 0;
}

li.main-block-big-foto-items:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

li.main-block-big-foto-items img[src*="./images/lap"] {
    display: block;
}

li.main-block-big-foto-items div.small-block h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--black);
}

li.main-block-big-foto-items div.small-block p {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin-top: 4px;

    color: var(--silver-gray);
}

ul.portfolio-many-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

li.portfolio-many-buttons-item {
    margin-right: 8px;
    color: var(--white);
}

li.portfolio-many-buttons-item:last-child {
    margin-right: 0;
}

li.portfolio-many-buttons-item:nth-child(1) button {
    width: 73px;
}

li.portfolio-many-buttons-item:nth-child(2) button {
    width: 128px;
}

li.portfolio-many-buttons-item:nth-child(3) button {
    width: 145px;
}

li.portfolio-many-buttons-item:nth-child(4) button {
    width: 103px;
}

li.portfolio-many-buttons-item button {
                                                            /*many buttons in portfolio*/
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 18px;
    border-radius: 4px;

    color: var(--black);
    background-color: var(--light-silver);

    transition-property: background-color, color, box-shadow;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}
li.portfolio-many-buttons-item button:focus,
li.portfolio-many-buttons-item:hover button {
    background-color: var(--color-blue);
    color: var(--white);
    outline: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

h2.title-hidden {
    display: none;
}

div.small-block {
    padding-top: 21px;
    padding-left: 24px;
    padding-bottom: 19px;
}

div.for-overlay {
    position: relative;
    width: 100%;
    height: 293px;
    overflow: hidden;
}

div.overlay-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--color-blue);
    transform: translateY(100%);
    /* hover */
    transition-property: transform;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

div.for-overlay:hover div.overlay-block {
    transform: translateY(0%);
}

li.main-block-big-foto-items p.overlay-text {
    width: 325px;
    padding-top: 60px;
    padding-left: 24px;

    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    color: var(--white);
}

svg.icon-close {
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 5px 5px;
    margin-left: auto;
    width: 30px;
    height: 30px;
    fill: var(--black);
    border: 1px solid var(--silver-icon);
    border-radius: 50%;

    transition-property: fill;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}
svg.icon-close:hover {
    fill: var(--color-blue);

}
div.modal button.button-close-in-corner {
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

div.modal button.button-close-in-corner:focus svg {
    fill: var(--color-blue);
}

div.backdrop {
                                                              /* modal window */
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);

    width: 100%;
    height: 100%;

    transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    border-radius: 4px;
    padding: 0px 40px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

div.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
h2.modal-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;

    color: var(--black);
}

label.form-field-label {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--contact-gray);
}

input.form-field-input {
    display: block;
    padding: 2px 31px;
    height: 40px;
    width: 100%;
    margin: 4px 0 0;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

textarea.form-field-comment:hover,
textarea.form-field-comment:focus,
div.form-block input.form-field-input:hover,
div.form-block input.form-field-input:focus {
    border: 1px solid var(--color-blue);
    outline: none;
}

svg.icon-man {
    position: absolute;
    top: 31px;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: var(--black);
    /* border: 1px solid red; */

    transition-property: fill;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}
input.form-field-input:hover~.icon-man,
input.form-field-input:focus~.icon-man,
div.form-block svg.icon-man:hover {
    fill: var(--color-blue);
    outline: none;
}

div.form-block {
    position: relative;
    margin-top: 12px;
}

textarea.form-field-comment {
    display: block;
    min-height: 120px;
    width: 100%;
    margin: 4px 0 20px;
    padding: 10px 12px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}
textarea.form-field-comment::placeholder {
    
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}


form button[type="submit"] {
                                                                 /* button in modal*/
    margin: 30px auto 0;
    width: 200px;
}

div.footer-twitter-mail-form button[type="submit"] {
    width: 200px;
    height: 50px;
    margin: 20px 0 0 12px;
    text-indent: -30px;
}

input.checkbox-input {
    appearance: none;
}

div.checkbox-control {
    position: relative;
    width: 16px;
    height: 15px;
    border: 2px solid var(--black);
    flex-shrink: 0;
    margin: 5px 8px 0 14px;
    cursor: pointer;
}

.checkbox-flex {
    display: flex;
    margin-top: 20px;
}

svg.icon-check {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 16px;
    height: 15px;
    opacity: 0;
}

input.checkbox-input:checked+.icon-check {
    opacity: 1;
}

label.label-link {
    position: absolute;
    top: 0;
    right: 5px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--silver-gray);
    padding-left: 32px;
    cursor: pointer;
}

label.form-field-label a[href="#m"] {
    color: var(--color-blue);
    text-decoration: underline;

    transition-property: border;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}
label.form-field-label a[href="#m"]:hover,
label.form-field-label a[href="#m"]:focus {
    color: var(--button-hover);

    box-shadow:
            0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
}



