// Modal

.backdrop {
    /* modal window */
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);

    width: 100%;
    height: 100%;

    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    border-radius: 4px;
    padding: 0px 40px;
    transform: translate(-50%, -50%);
    background-color: $white;
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

                &__form__sq {
                position: relative;
                margin-top: 12px;
                // border: 1px solid red;
                

                            .modal__field__input {
                                display: block;
                                padding: 2px 31px;
                                height: 40px;
                                width: 100%;
                                margin: 4px 0 0;

                                border: 1px solid rgba(33, 33, 33, 0.2);
                                border-radius: 4px;

                                transition-property: border;
                                transition-duration: var(--tran-dur);
                                transition-timing-function: var(--tran-t-fun);
                            }
 

                            .modal__field__input:hover {
                                border: 1px solid $color-blue;
                                outline: none;
                            }
                            .modal__field__input:focus {
                                border: 1px solid $color-blue;
                                outline: none;
                            }
                            .modal__form__field__comment:hover,
                            .modal__form__field__comment:focus
                            {
                                border: 1px solid $color-blue;
                                outline: none;
                            }
                            .modal__icon__man {
                                position: absolute;
                                top: 35px;
                                left: 12px;
                                width: 18px;
                                height: 18px;
                                fill: $black;
                                /* border: 1px solid red; */

                                transition-property: fill;
                                transition-duration: var(--tran-dur);
                                transition-timing-function: var(--tran-t-fun);
                            }

                            .modal__field__input:hover~ .modal__icon__man,
                            .modal__field__input:focus~ .modal__icon__man
                            {
                                    fill: $color-blue;
                                        outline: none;
                            }
                            
                                }

            &__icon__close:hover {
                fill: $color-blue;
            }
            &__button__close:focus {

                    .modal__icon__close {
                                fill: $color-blue;
                                 }
            }

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;

    color: $black;
}

.modal__form__field__comment {
    display: block;
    min-height: 120px;
    width: 100%;
    margin: 4px 0 20px;
    padding: 10px 12px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

.modal__form__field__comment::placeholder {

    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}


.modal-button[type="submit"] {
    /* button in modal*/
    margin: 30px auto 0;
    width: 200px;
}

.modal__checkbox__input {
    appearance: none;
}

.modal__checkbox__control {
    position: relative;
    width: 16px;
    height: 15px;
    // border: 2px solid $black;
    @include border(2px, solid, $black);
    flex-shrink: 0;
    margin: 5px 8px 0 14px;
    cursor: pointer;
}

.modal__checkbox__flex {
    display: flex;
    margin-top: 20px;
}

.modal__icon__check {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 16px;
    height: 15px;
    opacity: 0;
}

.modal__checkbox__input:checked+.modal__icon__check {
    opacity: 1;
}

.modal__label__link {
    position: absolute;
    top: 0;
    right: 5px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $silver-gray;
    padding-left: 32px;
    cursor: pointer;
}

 .modal__small__link {
    color: $color-blue;
    text-decoration: underline;

    transition-property: border;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

.modal__icon__close {
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 5px 5px;
    margin-left: auto;
    width: 30px;
    height: 30px;
    fill: var(--black);
    // border: 1px solid var(--silver-icon);
    @include border(1px, solid, $silver-icon);
    border-radius: 50%;

    transition-property: fill;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);
}

