
// section

%align{
    border: 1px dashed red;
}

.attention__wrapper {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    // @extend %align;
    
}

.header__container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

.container__wrapper{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.solutions{
    padding-top: 0;
    padding-bottom: 0;
}
.what{
    padding-bottom: 94px;
}
.clients{
    padding-top: 94px;
}

.what-we-do-section-for-background {
    padding-top: 0;
}

.our{
    background-color: $light-silver;
}

section.our-people-section-for-background {
    background-color: $light-silver;

}

.solutions__back {
    max-width: 1600px;
    padding: 198px 0;
    margin-left: auto;
    margin-right: auto;

    background-image:
        linear-gradient(to bottom,
            rgba(58, 50, 47, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}