.solutions__title {
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.06em;

    color: $white;
    
}

.attention__detailtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: $black;
}
.what__we__do__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: $black;
}